<header>
  <div class="name middle-header"><%= "#{first_name.upcase} #{last_name.upcase}" %></div>
  <div class="spacer" style="clear: both;"></div>
</header>
<div class="middle-pages">
  <table class="vaccines">
    <tr>
      <th class="title-left">vaccine name</th>
      <th class="title-right">date administered</th>
    </tr>
    <% records.each do |v|%>
        <tr>
          <td class="vaccines-left"><%= HealthRecordHelper::VACCINE_NAME_MAP[v.vaccine] || 'Unspecified' %></td>
          <td class="vaccines-right"><%= v.administered_at.strftime("%m/%d/%Y") %></td>
        </tr>
        <tr>
          <td class="vaccines-left-second"><%=v.vaccine%></td>
        </tr>
    <%end%>
  </table>
</div>
<footer>
  <img class="left" src=<%= WickedPdfHelper.root_path.join('public', 'images', 'full-leo.png') %>>
  <div class="right"><%= count %></div>
  <div class="middle">Generated on <%= Time.now.strftime("%m/%d/%Y")%></div>
</footer>
