<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
        <%= wicked_pdf_stylesheet_link_tag "vaccines_pdf" %>
    </head>

    <body>
        <header>
            <div class="name"><%= "#{patient.first_name.upcase} #{patient.last_name.upcase}" %></div>
            <div class="spacer" style="clear: both;"></div>
            <table>
                <tr>
                    <th>GUARDIAN</th>
                    <td><%= "#{user.first_name} #{user.last_name}" %></td>
                    <th>BORN</th>
                    <td><%= patient.birth_date.strftime("%m/%d/%Y") %></td>
                </tr>
                <tr>
                    <th></th>
                    <td><%= "#{number_to_phone(user.phone,  area_code: true)}" %></td>
                    <th>SEX</th>
                    <% if patient.sex == 'M' %>
                        <td>Male</td>
                    <% else %>
                        <td>Female</td>
                    <%end%>
                </tr>
            </table>
            <div class="spacer" style="clear: both;"></div>
        </header>

        <div class="intro">
            <div class="colored-bullet"></div>
            <p><%= "#{survey.name}" %></p>
            <div class="spacer" style="clear: both"></div>
        </div>
        <p class="content">Score: <%= "#{calculate_mchat_score}" %></p>
        <p class="content"><%= "#{survey.description}" %></p>

        <div id="first-page">
            <table class="vaccines">
                <tr>
                    <th class="title-left">Question</th>
                    <th class="title-right">Answer</th>
                </tr>
                <% survey.questions.each_with_index do |question, idx|%>
                    <tr>
                        <td class="vaccines-left"><%= idx + 1 %>. <%= question.body %></td>
                        <% if answer = answers.find_by(question_id: question.id) %>
                            <td class="vaccines-right"><%= answer.text %></td>
                        <% end %>
                    </tr>
                    <tr>
                        <td class="vaccines-left-second"><%=question.secondary%></td>
                    </tr>
                <%end%>
            </table>
        </div>
    </body>
</html>
